@use 'utils' as *;

.carouselSection {
    @include colFlex(center, flex-start, pxIntoUnit(20));
    @include colorTransition;
}

/* container of carousel */
.carouselContainer {
    height: pxIntoUnit(440);
    padding-block: pxIntoUnit(12);
    padding-inline: pxIntoUnit(35);
    border: 3px solid var(--carousel-wrapper-border);
    border-radius: pxIntoUnit(17);
    overflow: hidden;

    width: calcWidthInSlider(1, 230, 35);
    @include breakpointUp(550) {
        width: calcWidthInSlider(2, 230, 35);
    }
    @include breakpointUp(850) {
        width: calcWidthInSlider(3, 230, 35);
    }
    @include breakpointUp(1150) {
        width: calcWidthInSlider(4, 230, 35);
    }
    @include breakpointUp(1450) {
        width: calcWidthInSlider(5, 230, 35);
    }
    @include breakpointUp(1750) {
        width: calcWidthInSlider(6, 230, 35);
    }
}

/* container of buttons */
.carouselBtnContainer {
    position: relative;
    min-height: pxIntoUnit(85);

    width: calcWidthInSlider(1, 230, 35);
    @include breakpointUp(550) {
        width: calcWidthInSlider(2, 230, 35);
    }
    @include breakpointUp(850) {
        width: calcWidthInSlider(3, 230, 35);
    }
    @include breakpointUp(1150) {
        width: calcWidthInSlider(4, 230, 35);
    }
    @include breakpointUp(1450) {
        width: calcWidthInSlider(5, 230, 35);
    }
    @include breakpointUp(1750) {
        width: calcWidthInSlider(6, 230, 35);
    }
}

.carouselTitle {
    @include fontHeading;
    
    align-self: center;
    margin-bottom: pxIntoUnit(15);
    color: var(--carousel-heading-color);
}

.carouselGenreDescription {
    @include fontDefault(19);

    line-height: 1.4;
    color: var(--main-text);

    width: calcWidthInSlider(1, 230, 35);
    @include breakpointUp(550) {
        width: calcWidthInSlider(2, 230, 35);
    }
    @include breakpointUp(850) {
        width: calcWidthInSlider(3, 230, 35);
    }
    @include breakpointUp(1150) {
        width: calcWidthInSlider(4, 230, 35);
    }
    @include breakpointUp(1450) {
        width: calcWidthInSlider(5, 230, 35);
    }
    @include breakpointUp(1750) {
        width: calcWidthInSlider(6, 230, 35);
    }
}


.carouselList {
    @include flex(flex-start, center, pxIntoUnit(35));
    
    height: 100%;
    width: fit-content;
    list-style: none;
    perspective: 1000px;
}