@use 'utils' as *;

.listItem {
    @include colorTransformTransition(150ms, 400ms, ease-out);

    background-color: var(--carousel-card-bg);
    height: 80%;
    width: pxIntoUnit(220);
    border-radius: pxIntoUnit(18);
    border: pxIntoUnit(4) solid var(--carousel-card-border);
}

.link {
    @include colFlex;
    

    padding-block: pxIntoUnit(13);
    padding-inline: pxIntoUnit(20);
    color: var(--carousel-card-text);
    white-space: nowrap;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & > p {
        @include fontDefault(18);
    }
}