@use "utils" as *;

.main {
	@include colFlex(center, flex-start);
	@include colorTransition;

	background-color: var(--main-bg);

	padding-bottom: pxIntoUnit(80);
	padding-inline: pxIntoUnit(80);
}

// main read section
.readerBlock {
	@include colFlex(flex-start, flex-start, pxIntoUnit(40));
	@include colorTransition;

	padding-top: pxIntoUnit(20);
	background-color: var(--read-bg);
	overflow: hidden;
	max-width: pxIntoUnit(1200);

	@include breakpointDown(600) {
		max-width: 92vw;
	}
}

.title {
	@include fontMarc(50);

	align-self: center;
	color: var(--read-title);
}

.author {
	@include fontDefault(34, 700);

	align-self: center;
	color: var(--read-author);
}

.paragraphTitle {
	@include fontDefault(34);

	color: var(--read-title);
	align-self: center;
}

.img {
	align-self: center;
	border-radius: pxIntoUnit(14);
}

.paragraphText {
	@include fontDefault(21);
	
	line-height: 1.5;
	color: var(--read-text);
}

.pagination {
	@include flex;

	margin-top: pxIntoUnit(50);
	align-self: center;
	overflow-y: visible;
	padding-block: pxIntoUnit(10);
}


.pagination a {
	@include fontDefault(20);
	@include defaultBtn;
	
	border-radius: 0;
	border: pxIntoUnit(3) solid var(--read-pagination-border);

	&:hover {
		transform: scale(1.18);
		background-color: var(--read-btn-hover);

		&[data-selected=true] {
			border-color: var(--read-btn-selected-border);
		}
	}

	&:active {
		transform: scaleY(0.87);
	}

	&[data-selected=true] {
		background-color: var(--read-btn-selected-bg);
		color: var(--read-btn-selected-color);
	}
}