.main {
    //min-height: 100vh;
    background-color: #faf6ed;
    transition: background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    margin-bottom: 0.45em;
}
.readerBlock {
    // Временно
    // Рамка
    border: solid 2px #6b2e2e;
    //
    background-color: #f6ecda;
    padding-top: 0.5em;
    font-family: Roboto;
    font-size: 1.25em;
    box-sizing: border-box;
    max-width: 900px;
    font-weight: 400;
    line-height: 140%;
    overflow: hidden;
}
.img {
    float: left;
}
.paragraphText {
  padding-bottom: 0.4em;
  margin-left: 0.35em;
  margin-right: 0.35em;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background: #6b2e2e;
  align-items: flex-end;
}
.pagination a {
  text-align: center;
  font-size: 1em;
  color: black;
  float: left;
  height: 3em;
  width: 3.3em;
  top: 50%;
  left: 50%;
  text-decoration: none;
  transition: background-color .3s;
  background: #f6ecda;
  border: 2px solid #bd1818;
  border-left: 1px solid #bd1818;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}
.pagination a:active {
  transform: translateY(0.3em);
}
.pagination a:hover:not(.active) {background-color: #d46060;}

.selectedSection {
  background-color: #bb1e38c9 !important;
}