@use 'utils' as *;

.link {
    @include flex(center, center, pxIntoUnit(10), column);
    @include transition(background-color);

    background-color: var(--acc-bg);
    border: pxIntoUnit(2) solid var(--acc-wrapper-border);
    border-radius: pxIntoUnit(15);
    padding: pxIntoUnit(10);

    &:hover, &:focus {
        background-color: var(--acc-bg-hover);
    }

    & > p {
        @include fontDefault;

        color: var(--acc-text);
    }
};