@use 'utils' as *;

@supports (backdrop-filter: blur(0px)) {
    .header {
        backdrop-filter: blur(pxIntoUnit(3.5));
    }
}

.header {
    @include flex(space-between, center);

    background-color: var(--header-bg-blur);
    height: var(--header-height);
    border-bottom: pxIntoUnit(2) solid var(--header-border);
    position: sticky;
    top: 0;
    // must be highest
    z-index: 1000;
    padding-inline: 0.5rem;
    
    @include breakpointUp(500) {
        padding-inline: 1.5rem;
    }

    @include breakpointUp(1150) {
        padding-inline: 2rem;
    }
}