@use 'utils' as *;

.header {
    @include flex(space-between, center);
    
    background-color: var(--header-bg);
    height: pxIntoUnit(125);
    padding-inline: 2rem;
    border-bottom: pxIntoUnit(2) solid var(--header-border);
    position: sticky;
    top: 0;

    opacity: 0.9;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.logo {
    @include fontMarc(52, -1);
    
    color: var(--logo-color);
    padding-left: pxIntoUnit(90);
    padding-bottom: pxIntoUnit(20);
    padding-right: pxIntoUnit(20);
    position: relative;

    &::before {
        content: url('/book-2.svg');
        color: var(--logo-color);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-5%) rotate(10deg);
    };

    & .span {
        color: var(--logo-color-second);
    };

    & .subLogo {
        @include fontDefault(16);

        color: var(--sublogo-color);
        display: inline-block;
        position: absolute;
        top: pxIntoUnit(60);
        right: pxIntoUnit(10);
    }
}