@use 'utils' as *;

.header {
    @include flex(space-between, center);
    
    background-color: var(--header-bg);
    height: pxIntoUnit(125);
    padding-inline: 2rem;
    border-bottom: pxIntoUnit(2) solid var(--header-border);
    position: sticky;
    top: 0;
};

.logo {
    @include fontMarc(52, -1);
    
    color: var(--logo-color);
    padding-left: pxIntoUnit(90);
    position: relative;

    &::before {
        content: url('/book-2.svg');
        color: var(--logo-color);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-15%) rotate(10deg);
    };

    & .span {
        color: var(--logo-color-second);
    };
};