@use 'utils' as *;

.nav {
    width: clamp(pxIntoUnit(400), 30vw, pxIntoUnit(650));
    margin-left: auto;
    flex-grow: 1 1 auto;;
};

.list {
    @include flex(space-between, center, clamp(10px, 2vw, 30px));
    list-style: none;
};

.link {
    @include linkWithUnderline(500, var(--link-header-underline));
    white-space: nowrap;
};


.active {
    color: var(--link-active);
    font-weight: bold;
};