@use 'utils' as *;

.nav {
    width: clamp(pxIntoUnit(350), 30vw, pxIntoUnit(450));
    margin-left: auto;
    flex-grow: 1 1 auto;;
};

.list {
    @include flex(space-between, center, clamp(10px, 2vw, 30px));
    list-style: none;
};

.link {
    @include linkWithUnderline;
};


.active {
    color: var(--link-active);
    font-weight: bold;
};