@use 'utils' as *;

.main {
    @include colorTransition;
    @include colFlex(center);

    min-height: calc(100vh - var(--header-height));
    background-color: var(--main-bg);
    color: var(--main-text);
    gap: pxIntoUnit(12);
    padding-top: pxIntoUnit(40);

    & > h2 {
        @include fontHeading(2);
        @include animationSlideInBlur(900ms, -700);

        color: var(--main-text-highlight);
    }

    & > p {
        @include fontDefault(23);
        @include animationSlideInBlur(900ms, -700);

        animation-delay: 0.9s;
    }
}