// resets
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

a {
    text-decoration: none;
    display: inline-block;
};

button {
    cursor: pointer;
    border: none;
}

:root {
    // colors
    --color-bisque: hsl(0, 52%, 84%);
    --color-darkbrown: hsl(0, 38%, 8%);
    --color-lightbrown: #421e1e;
    --color-orange: hsl(25, 100%, 82%);
    --color-gray: hsl(0, 1%, 83%);
    --color-white: hsl(0, 0%, 100%); 
    --color-light-bisque: hsl(0, 100%, 97%); 
};

body {
    min-height: 100vh;
    overflow-x: hidden;

    // header
    --header-bg: var(--color-darkbrown);
    --header-border: var(--color-darkbrown);
    --logo-color: var(--color-orange);
    --logo-color-second: var(--color-bisque);
    --sublogo-color: var(--color-white);
    --link-color: var(--color-white);
    --link-active: var(--color-orange);
    --link-underline: var(--color-orange);

    // themeChanger
    --theme-btn-bg: var(--color-darkbrown);
    --theme-btn-bg-hover: var(--color-lightbrown);
    --theme-btn-border: var(--color-white);
    --theme-btn-text: var(--color-white);
    --theme-list-bg: var(--color-bisque);
    --theme-list-border: var(--color-white);
    --theme-li-color: var(--color-white);
    --theme-li-hover: var(--color-orange);

    // accountEnter
    --acc-wrapper-border: var(--color-white);
    --acc-text: var(--color-white);
    --acc-bg-hover: var(--color-lightbrown);

    // rootPage
    --main-bg: var(--color-light-bisque);
    --main-text: var(--color-darkbrown);
    --main-text-highlight: var(--color-lightbrown);
    --main-text-highlight-logo: var(--color-darkbrown);
    --main-link: var(--color-darkbrown);
    --main-listmarker: var(--color-lightbrown);

    // darkTheme colors
    &[data-dark='true'] {
        // rootPage
        --header-border: var(--color-orange);
        --main-bg: var(--color-darkbrown);
        --main-text: var(--color-white);
        --main-text-highlight: var(--color-orange);
        --main-text-highlight-logo: var(--color-bisque);
        --main-link: var(--color-orange);
        --main-listmarker: var(--color-bisque);
    };
};

// screen-reader only class
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
};