@use 'utils' as *;

.addComment {
    @include colFlex;
    gap: pxIntoUnit(20);
    width: 85%;

    @include breakpointDown(750) {
        align-content: center;
        max-width: 88vw;
    }
    // subtitle
    & > p {
        @include fontDefault(24);
        align-self: center;
        color: var(--author-text);
    }
}

.inputContainer {
    @include flex;
    gap: pxIntoUnit(10);

    @include breakpointDown(700) {
        @include colFlex(center, flex-start, pxIntoUnit(30));
        max-width: 88vw;
    }

    // input
    & > textarea {
        @include fontMarc(26);
        @include transition(border-color, 300ms);
        @include customScrollBar(var(--results-scroll-thumb), var(--results-scroll-track));

        line-height: 1;
        flex: 0.8 1 auto;
        resize: none;
        min-height: pxIntoUnit(120);
        border-radius: pxIntoUnit(12);
        padding: pxIntoUnit(10);
        border: pxIntoUnit(4) groove var(--comments-textarea-border);
        outline: none;

        @include breakpointDown(700) {
            flex-grow: 1;
            min-width: 70vw;
        }

        &:focus {   
            border-color: var(--comments-textarea-border-hover);
        }
    }

    // add comment btn
    & > button {
        @include defaultBtn;

        padding-block: pxIntoUnit(12);
        padding-inline: pxIntoUnit(5);
        align-self: center;
        flex: 0.2 1 auto;

        @include breakpointDown(600) {
            padding-inline: pxIntoUnit(20);
        }
    }
}