@use 'utils' as *;


$containerHeight: 50;
$containerWidth: 590;
.pollWrapper {
    @include colFlex(center);

    width: pxIntoUnit($containerWidth);
    min-height: pxIntoUnit($containerHeight);

    & > p {
        @include fontDefault(24);
        align-self: center;
        margin-bottom: pxIntoUnit(15);
    }

    & > ul {
        @include flex(center, center, pxIntoUnit(10));
        list-style: none;
        width: pxIntoUnit($containerWidth);
        min-height: pxIntoUnit($containerHeight);

        > li {
            display: inline-block;
            cursor: pointer;
        }

        &:hover {
            > li {
                @include animationPianoBubbleUp(0.4s, -30);
                @include animationDelayOnChildren(10, 0, 0.1);
            }
        }
    }

    // Svgs state
    & svg, path {
        @include multipleTransition(fill stroke, 250ms);

        fill: var(--svg-fill-passive);
        stroke: var(--svg-stroke-passive);
    }

    & svg[data-active=true], path[data-active=true] {
        fill: var(--svg-fill-active);
        stroke: var(--svg-stroke-active);
    }
}

// Rate Description
.rateDesc {
    @include flex(center, center, pxIntoUnit(10));
    
    & > p {
        @include fontDefault(24);
        color: var(--rating-description-text);
    }
}

// Rate Cancel Btn
.rateCancelBtn {
    @include defaultBtn;

    &:hover {
        @include cancelHoverBtn;
    }
}


// Confirm to URL transition
.confirmModal {
    @include colFlex(center, space-around, pxIntoUnit(20));
    @include colorTransition;

    // positioning
    $clampWidth: clamp(320px, 30vw, 400px);
    $height: pxIntoUnit(240);
    width: $clampWidth;
    position: fixed;
    top: calc(50vh - $height / 2);
    right: calc(50vw - $clampWidth);
    transform: translateX(-50%);

    height: $height;
    z-index: var(--modal-zindex);
    background-color: var(--search-modal-bg);
    padding: pxIntoUnit(15);
    border: pxIntoUnit(5) groove var(--search-modal-border);
    border-radius: pxIntoUnit(17);

    &:hover {
        background-color: var(--search-modal-bg-hover);
    }


    & > p {
        @include fontDefault(22, 600);
        line-height: 1.4;
        text-align: center;
        color: var(--main-text);
    }
}

.btnWrapper {
    @include flex(center, center, pxIntoUnit(30));

    // buttons
    & button {
        @include defaultBtn;
    }

    & .successBtn {
        @include successHoverBtn;
    }

    & .cancelBtn {
        @include cancelHoverBtn;
    }
}