@use 'utils' as *;

$spacingBig: 55;
$spacingSmall: 15;
$primaryAnimationDelay: 1.5s;

.bookSection {
    @include colFlex(center, flex-start, pxIntoUnit($spacingBig));
    @include fontDefault(20);

    padding-top: pxIntoUnit(30);
    padding-inline: pxIntoUnit(30);
    min-height: calc(150vh - var(--header-height) + pxIntoUnit(2000));
    padding-bottom: pxIntoUnit(200);

    @include breakpointUp(1150) {
        margin-inline: auto;
        width: clamp(pxIntoUnit(200), 70vw, pxIntoUnit(1000));
        border-inline: pxIntoUnit(3) solid var(--book-section-border);
        box-shadow: 0 0 5px 2px var(--book-section-shadow);
    }
}

// Title, Author, year
.generalInfoWrapper {
    @include colFlex(center, center, pxIntoUnit($spacingSmall));
    
    // animation
    & h2, p {
        @include animationSlideInBlur(1.15s, 600);
        @include animationDelayOnChildren(3, 0, 0.45);
    }

    & > .title {
        @include fontMarc(55);
        color: var(--title-text);
    }

    & > .author {
        @include fontDefault(28, 600);
        color: var(--author-text);
    }

    & > .year {
        @include fontDefault(30, 600);
        color: var(--year-text);
    }
}

// Genres
.genres {
    @include colFlex(center, flex-start, pxIntoUnit($spacingSmall));


    & > .genresTitle {
        @include fontDefault(26, 600);
        @include animationSlideInBlur(1.15s, -500);
        animation-delay: $primaryAnimationDelay;

        align-self: center;
        color: var(--title-text);
    }

    & > ul {
        @include flex(center, center, pxIntoUnit(35));
        flex-wrap: wrap;
        list-style: none;
    }

    & li {
        @include customListMarker(18);
        @include animationTrippleFallFromTop(1.5s, -100);
        @include animationDelayOnChildren(10, 1.5, 0.2);
    }
}


// Description
.description {
    @include colFlex(flex-start, flex-start, pxIntoUnit($spacingSmall));

    & > h3 {
        @include fontHeading(3);
        @include animationSlideInBlur;
        animation-delay: $primaryAnimationDelay;

        align-self: center;
        color: var(--title-text);
    }

    & > div {
        @include colFlex(flex-start, center, pxIntoUnit($spacingSmall));
        @include animationSlideInBlur;
        animation-delay: $primaryAnimationDelay;
    }

    & p {
        line-height: 1.5;
    }
}


// Quotes / Citates
.quotes {
    @include colFlex(flex-start, flex-start, pxIntoUnit($spacingSmall));

    & > h3 {
        @include fontHeading(3);
        @include animationSlideInBlur;
        animation-delay: $primaryAnimationDelay;

        align-self: center;
        color: var(--title-text);
    }

    & > ul {
        @include colFlex(flex-start, center, pxIntoUnit($spacingSmall));
        list-style: none;
    }

    & li {
        @include fontMarc(28);
        @include animationSlideInBlur;
        @include animationDelayOnChildren(10, 3, 0.6);
    }
}

// rating
.rating {
    @include colFlex(center, flex-start, pxIntoUnit($spacingSmall));
    position: relative;

    & > h3 {
        @include fontHeading(3);
        @include animationSlideInBlur;
        animation-delay: $primaryAnimationDelay;

        align-self: center;
        color: var(--title-text);
        margin-bottom: pxIntoUnit(10);
    }
}