@use 'utils' as *;

.main {
    @include colFlex(center);
    @include colorTransition;
    
    padding-top: pxIntoUnit(50);
    padding-bottom: pxIntoUnit(150);
    min-height: calc(100vh - pxIntoUnit(100));
    background-color: var(--main-bg);

    & > {
        h2 {
            @include fontMarc(55);

            text-align: center;
            max-width: pxIntoUnit(800);
            color: var(--form-title-color);
            margin-bottom: pxIntoUnit(30);
        }
        
        a {
            @include fontDefault(17, 600);
            @include linkWithUnderline;
        
            color: var(--form-link-color);
            margin-bottom: pxIntoUnit(50);
        
            &::before {
                background-color: var(--form-link-underline);
            }
        }
    }

    & > form {
        @include colFlex(center);

        & p, label, a {
            text-align: center;
        }
    }

    & p, label, a {
        text-align: center;
    }
};