@use 'utils' as *;

.main {
    @include colFlex(center);
    @include colorTransition;
    
    margin-top: pxIntoUnit(50);
    margin-bottom: pxIntoUnit(150);
    min-height: 70vh;
    background-color: var(--main-bg);
};

.form {
    @include colFlex(center);
}