@use 'functions' as *;
@use 'maps' as m;

// layouts
@mixin flex($justify: stretch, $align: stretch, $gap: 0, $dir: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin colFlex($align: stretch, $justify: stretch, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

// transition, animation
@mixin colorTransition($duration: 300ms) {
    transition: background-color $duration ease-in-out, color $duration ease-in-out, border-color $duration ease-in-out;
};

@mixin transition($prop, $duration: 150ms, $ease: ease-in-out) {
    transition: $prop $duration $ease;
};

@mixin svgTransition($duration: 150ms) {
    transition: fill $duration ease-in-out, transform $duration ease-in-out;
};

@mixin colorTransformTransition($colorDur: 150ms, $transformDur: 150ms, $ease: ease-in-out) {
    transition: background-color $colorDur $ease, color $colorDur $ease, transform $transformDur $ease;
}

// padding, margin
@mixin padding($inline: pxIntoUnit(15), $block: pxIntoUnit(15)) {
    padding-inline: $inline;
    padding-block: $block;
};

// borders
@mixin roundCorners($dir: top, $val: pxIntoUnit(15)) {
    border-#{$dir}-left-radius: $val;
    border-#{$dir}-right-radius: $val; 
};

// font, text
@mixin fontClamp($bottom, $prefer, $high) {
    font-family: var(--font-pt-variable);
    font-size: clamp(pxIntoUnit($bottom), #{$prefer}vh, pxIntoUnit($high));
    letter-spacing: 1.5px;
};

@mixin fontDefault($fontSize: 17, $weight: 500) {
    font-family: var(--font-pt-variable);
    font-size: pxIntoUnit($fontSize);
    font-weight: $weight;
    letter-spacing: 1.5px;
};

@mixin fontHeading($headingPower: 2, $weight: 600, $textAlign: center){
    font-size: map-get($map: m.$headingPowers, $key: $headingPower);
    letter-spacing: 1.5px;
    font-family: var(--font-pt-variable);
    font-weight: $weight;
    text-align: $textAlign;
};

@mixin fontMarc($size: 30, $spacing: 0) {
    font-family: var(--font-marckscript);
    font-size: pxIntoUnit($size);
    letter-spacing: #{$spacing}px;
};

// COMPONENTS
@mixin linkWithUnderline($fontWeight: 500) {
    @include fontClamp(18, 2.3, 22);
    @include transition(transform);

    font-weight: $fontWeight;
    color: var(--link-color);
    position: relative;

    &:hover {
        transform: scale(1.1);
    };

    &::before {
        @include transition(transform, 300ms); 

        content: '';
        display: block;
        height: pxIntoUnit(2);
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: var(--link-underline);
        border-radius: pxIntoUnit(5);
        transform: scale(0);
    };

    &:hover::before {
        transform: scaleX(1);
    }
}


@mixin btnDefault {
    &:hover {
        transform: scale(1.1);
    };

    &:active {
        transform: scale(0.9);
    }
}


@mixin customScrollBar($thumbColor, $trackColor, $width: thin) {
    scrollbar-width: $width;
    scrollbar-color: $thumbColor $trackColor;
}