@use 'functions' as *;

@mixin flex($justify: stretch, $align: stretch, $gap: 0, $dir: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin colorTransition($duration: 300ms) {
    transition: background-color $duration ease-in-out, color $duration ease-in-out;
};

@mixin fontClamp ($bottom, $prefer, $high) {
    font-size: clamp(pxIntoUnit($bottom), #{$prefer}vh, pxIntoUnit($high));
};