@use 'utils' as *;

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.678);
    backdrop-filter: pxIntoUnit(10);
    z-index: 99;
}