@use 'utils' as *;

// Confirm to URL transition
.confirmModal {
    @include colFlex(center, space-around, pxIntoUnit(20));
    @include colorTransition;

    $height: pxIntoUnit(240);

    width: pxIntoUnit(320);
    position: fixed;
    top: calc(50vh - $height / 2);
    right: calc((100vw - 320px) / 2);
    
    @include breakpointUp(600) {
        // positioning
        $clampWidth: clamp(pxIntoUnit(340), 30vw, pxIntoUnit(400));
        width: $clampWidth;
        right: calc(50vw - $clampWidth);
        transform: translateX(-50%);
    }
    
    height: $height;
    z-index: var(--modal-zindex);
    background-color: var(--search-modal-bg);
    padding: pxIntoUnit(15);
    border: pxIntoUnit(5) groove var(--search-modal-border);
    border-radius: pxIntoUnit(17);

    &:hover {
        background-color: var(--search-modal-bg-hover);
    }


    & > p {
        @include fontDefault(22, 600);
        line-height: 1.4;
        text-align: center;
        color: var(--gen-modal-color);
    }
}

.btnWrapper {
    @include flex(center, center, pxIntoUnit(15));

    @include breakpointUp(650) {
        gap: pxIntoUnit(30);
    }

    // buttons
    & button {
        @include defaultBtn;
    }

    & .successBtn:hover {
        @include successHoverBtn;
    }

    & .cancelBtn:hover {
        @include cancelHoverBtn;
    }
}