@use 'utils' as *;

.main {
    min-height: 100vh;
    background-color: var(--main-bg);
    transition: background-color 300ms ease-in-out;

    display: grid;
    grid-template-columns: 22vw 1fr 22vw;
    grid-template-areas: 
        '. text .'
    ;
    justify-items: center;
};

.textSection {
    @include colorTransition;

    grid-area: text;
    margin-top: pxIntoUnit(20);
    color: var(--main-text);

    padding-inline: pxIntoUnit(35); 
};


// asides
.aside {
    @include colFlex(center, space-between);
    width: 100%;

    &:first-of-type {
        border-right: pxIntoUnit(5) solid var(--main-aside-border);
    }

    &:last-of-type {
        border-left: pxIntoUnit(5) solid var(--main-aside-border);
    }
}

.innerDiv {
    position: relative;
    width: 100%;
    height: pxIntoUnit(400);

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.425);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
}