@use 'utils' as *;

.h2 {
    @include fontHeading(2);

    @include breakpointDown(650) {
        text-align: start;
        margin-top: pxIntoUnit(50);
    }

    > strong {
        @include fontMarc(52, 0);
        color: var(--main-text-highlight);

        > span {
            color: var(--main-text-highlight-logo);
        }
    }
}
.mainLink {
    @include fontHeading(2);
    > strong {
        @include fontMarc(52, 0);
        color: var(--main-text-highlight);

    }

    margin-bottom: 2.5em;
    text-align:center;
    display:block;
    &:hover {
        text-decoration:underline;
        color: #feba79;
    }
}
.h3 {
    @include fontHeading(3);
    margin-block: pxIntoUnit(50);

    @include breakpointDown(650) {
        text-align: start;
    }

    > strong {
        color: var(--main-text-highlight-logo);
        letter-spacing: 2px;
    }
}

.list {
    @include flex(flex-start, stretch, pxIntoUnit(8), column);

    list-style: none;
    margin-top: pxIntoUnit(15);

    > li {
        @include fontDefault(20);

        line-height: 2;
        color: var(--main-text);
    }
}

.listItem {
    @include colFlex(stretch, center, pxIntoUnit(12));
    margin-bottom: pxIntoUnit(20);

    > p {
        @include customListMarker(10);

        position: relative;
        padding-left: pxIntoUnit(15);
    }
}

.link {
    @include linkWithUnderline;
    align-self: center;
    color: var(--main-link);
    font-weight: 700;
    
    &::before {
        bottom: pxIntoUnit(0);
    }
}